<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.BlogAtcMapper">

    <select id="queryAtc" resultType="BlogAtc" parameterType="Integer">
        SELECT * FROM
        blog_atc
        WHERE
        atc_id = #{atcId}
    </select>

    <select id="queryAll" resultType="BlogAtc">
        SELECT * FROM
        blog_atc
        ORDER BY
        atc_id
    </select>

    <select id="queryActsByUid" parameterType="Integer" resultType="com.zc.entity.BlogAtc">
        SELECT * FROM
        blog_atc
        WHERE
        user_id = #{userId}
    </select>

    <insert id="insertSelective" parameterType="com.zc.entity.BlogAtc">
        insert into blog_atc
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="atcId != null">
                atc_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="atcTitle != null">
                atc_title,
            </if>
            <if test="atcUrl != null">
                atc_url,
            </if>
            <if test="atcType != null">
                atc_type,
            </if>
            <if test="atcTime != null">
                atc_time,
            </if>
            <if test="atcView != null">
                atc_view,
            </if>
            <if test="atcFlag != null">
                atc_flag,
            </if>
            <if test="atcBackup != null">
                atc_backup,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="atcId != null">
                #{atcId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="atcTitle != null">
                #{atcTitle,jdbcType=VARCHAR},
            </if>
            <if test="atcUrl != null">
                #{atcUrl,jdbcType=VARCHAR},
            </if>
            <if test="atcType != null">
                #{atcType,jdbcType=VARCHAR},
            </if>
            <if test="atcTime != null">
                #{atcTime,jdbcType=VARCHAR},
            </if>
            <if test="atcView != null">
                #{atcView,jdbcType=INTEGER},
            </if>
            <if test="atcFlag != null">
                #{atcFlag,jdbcType=VARCHAR},
            </if>
            <if test="atcBackup != null">
                #{atcBackup,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.zc.entity.BlogAtc">
        update blog_atc
        <set>
            <if test="atcId != null">
                atc_id = #{atcId,jdbcType=INTEGER},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=INTEGER},
            </if>
            <if test="atcTitle != null">
                atc_title = #{atcTitle,jdbcType=VARCHAR},
            </if>
            <if test="atcUrl != null">
                atc_url =  #{atcUrl,jdbcType=VARCHAR},
            </if>
            <if test="atcType != null">
                 atc_type = #{atcType,jdbcType=VARCHAR},
            </if>
            <if test="atcTime != null">
                atc_time = #{atcTime,jdbcType=VARCHAR},
            </if>
            <if test="atcView != null">
                atc_view = #{atcView,jdbcType=INTEGER},
            </if>
            <if test="atcFlag != null">
                atc_flag = #{atcFlag,jdbcType=VARCHAR},
            </if>
            <if test="atcBackup != null">
                atc_backup = #{atcBackup,jdbcType=VARCHAR},
            </if>
        </set>
        where atc_id = #{atcId,jdbcType=INTEGER}
    </update>

    <delete id="delAtcById" parameterType="Integer">
        DELETE
        FROM
        blog_atc
        WHERE
        atc_id = #{atcId}
    </delete>

</mapper>