<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zc.mapper.UserMapper">
    <!-- 目的：为dao接口方法提供sql语句配置 -->
    <select id="queryUser" resultType="User" parameterType="Integer">
        <!-- 具体的sql -->
        SELECT
        *
        FROM
        USER
        WHERE
        user_id = #{userId}
    </select>

    <select id="queryUserByName" resultType="User" parameterType="String">
        <!-- 具体的sql -->
        SELECT
        *
        FROM
        USER
        WHERE
        account = #{account}
    </select>

    <select id="queryAll" resultType="User">
        SELECT
        *
        FROM
        user
        ORDER BY
        user_id
    </select>

    <select id="countUser" resultType="Integer">
        SELECT
        count(*)
        FROM
        user
    </select>

    <insert id="insertSelective" parameterType="com.zc.entity.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="lastLoginTime != null">
                last_login_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{user_id,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="roleId != null">
                #{role_id,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="lastLoginTime != null">
                #{lastLoginTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

</mapper>